/********************************/
/****** VARIABLES GLOBALES ******/
/********************************/

$primary-color: #0A2647;
$secondary-color: #144272;
$third-color: #205295;
$fourth-color: #2C74B3;
$text-color: #e2e7f1;

/*********************************/
/***** SMALL SCREEN (<750px) *****/
/*********************************/
