/********************************/
/****** VARIABLES GLOBALES ******/
/********************************/

$navbar-bg: #3A1078;
$primary-color: #0A2647;
$secondary-color: #144272;
$third-color: #205295;
$fourth-color: #2C74B3;
$text-color: #e2e7f1;
$second-text-color: #F0EB8D;

@font-face {
    font-family: 'Techno';
    src: url('../../assets/TechnoRaceItalic-eZRWe.otf') format('otf');
}

    /***************************/

*{overflow: hidden;}

.contenedor{
    padding-left: 150px;
    width: 100vw;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.home{
    background-color: $secondary-color;
    color: $text-color;
    overflow: hidden;
    

    .main-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        margin-top: 30vh;
        font-size: 9vw;
        font-family: 'Techno', 'Arial';
        user-select: none;
        text-shadow: 15px 15px 2px $primary-color;

}

    .first-name{
        position: absolute;
        display: flex;
        top: 30%;
        left: 15%
    }
    .mid-name{
        position: absolute;
        display: flex;
        top: 40%;
        left: 37%
    }
    .last-name{
        position: absolute;
        display: flex;
        bottom:30%;
        right: 13%;
    }

}


.bg-page {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}



.bg-html,
.bg-body,
.quote,
.decoration {
    font-family: cursive;
    font-size: 20px;
    color: $fourth-color;
    position: relative;
}

.bg-code-bot,
.bg-code-top {
    position: absolute;
    left: 15%;
}

.bg-code-top {
    top: 20%;
}

.bg-code-bot {
    bottom: 20%;
}

.quote {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 350px;
}

.decoration{
    position: absolute;
    bottom: 0;
    width: 70%;
    text-align: center;
}

.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    bottom: 15%;
    left: 35%;
}

.first-letter {
    color: $second-text-color;
}

.first-name{
    animation: bounceInDown 1s;
}
.mid-name{
    animation: bounceInDown 1.2s;
}
.last-name{
    animation: bounceInDown 1.4s;
}

.title:hover{
    animation: jello 0.5s;
}
