
    /********************************/
    /****** VARIABLES GLOBALES ******/
    /********************************/

$breackpoint-smartphone-height: 480px;
$breackpoint-smartphone-width: 320px;
$breackpoint-tablet-height: 1024px;
$breackpoint-tablet-width: 760px;
$breackpoint-desktop-height: 1680px;
$breackpoint-desktop-width: 1050px;

$navbar-bg: #3A1078;
$primary-color: #0A2647;
$secondary-color: #144272;
$third-color: #205295;
$fourth-color: #2C74B3;
$text-color: #e2e7f1;
$second-text-color: #F0EB8D;

    /*********************************/
    /***** SMALL SCREEN (<750px) *****/
    /*********************************/


.navbar {
    background-color: #0a2647b2;
    width: 50px;
    height: fit-content;
    position: fixed;
    z-index: 99;
    animation: fadeIn 1s;
    border-radius: 15px;
    top: 4px;
    left: 4px;
    
}

.hide-menu {
    display: flex;
    width: 100%;
    height:50px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.menu {
    height: 90%
}

.navbar-home {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $fourth-color;
    border-top: 1px solid $fourth-color;
}

.active-btn {
    background-color: $third-color;
}

.navbar-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $fourth-color;

}

.btn {
    width: 100%;
    height: 80%;
    background-color: transparent;
    color: $text-color;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    opacity: 1;
    font-size: 40px;
    position: absolute;
}

.btn span {
    opacity: 0;
    font-size: 15px;
    position: absolute;
}

.hide-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}

.navbar-btn:hover {
    background-color: $third-color;

    i {
        opacity: 0;
    }

    span {
        opacity: 1;
    }
}

.navbar-home:hover {
    background-color: $third-color;

    i {
        opacity: 0;
    }

    span {
        opacity: 1;
    }
}

.lenguaje {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-lenguage {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono{
    height: 100%;
}

.btn-english:hover {
    background-color: $third-color;
}
.btn-spanish:hover {
    background-color: $third-color;
}

.btn-english,
.btn-spanish {
    width: 100%;
    height: 100%;
    background:transparent;
    color: $text-color;
    border: none;
    margin: 0;
    font-size: 10px;
    cursor: pointer;
}

.btn-english {
    border-right: 1px solid $primary-color;
}



@media only screen and (min-width: $breackpoint-tablet-height) {

    .navbar {
        width: 100px;
        margin: 0;
        border-radius: 0;
        top: 0;
        left: 0;
    }

    

    .menu {
        visibility: visible;
        height: 100vh;
    }

    .navbar-btn,
    .navbar-home,
    .hide-menu{
        height: 90px;
    }

    .navbar-lenguage{
        border-bottom: 1px $fourth-color solid;
    }

    .icono{
        width: 50px;
        filter: saturate(0.5);
    }

    .icono:hover{
        filter: saturate(2);
    }

}


