/********************************/
/****** VARIABLES GLOBALES ******/
/********************************/

$breackpoint-smartphone-height: 480px;
$breackpoint-smartphone-width: 320px;
$breackpoint-tablet-height: 1024px;
$breackpoint-tablet-width: 760px;
$breackpoint-desktop-height: 1680px;
$breackpoint-desktop-width: 1050px;

$navbar-bg: #3A1078;
$primary-color: #0A2647;
$secondary-color: #144272;
$third-color: #205295;
$fourth-color: #2C74B3;
$text-color: #e2e7f1;
$second-text-color: #F0EB8D;


    .bg-page {
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            z-index: -1;
    }

    .bg-html,
    .bg-body,
    .quote,
    .decoration {
        font-family: cursive;
        color: $fourth-color;
        position: relative;
    }

    .bg-code-bot,
    .bg-code-top {
        position: absolute;
        left: 5%;
    }

    .bg-code-top {
        top: 40%;
    }

    .bg-code-bot {
        bottom: 40%;
    }

    .quote, .decoration {
        position: absolute;
        text-align: center;
    }

@media screen and (min-width: $breackpoint-smartphone-height) and (min-height: $breackpoint-smartphone-width){
    .bg-html,
    .bg-body,
    .quote,
    .decoration {
        font-size: 2.5vw;
    }

    .bg-code-top {
        top: 30%;
    }

    .bg-code-bot {
        bottom: 30%;
    }

    .quote {
        top: 5%;
        width: 100%;
    }

    .decoration {
        bottom: 5%;
        width: 100%;
    }
}

@media screen and (min-width: $breackpoint-smartphone-width) and (min-height: $breackpoint-smartphone-height){
    .bg-html,
    .bg-body,
    .quote,
    .decoration {
        font-size: 4.5vw;
    }

    .bg-code-top {
        top: 40%;
    }

    .bg-code-bot {
        bottom: 40%;
    }

    .quote {
        top: 10%;
        width: 100%;
    }

    .decoration {
        bottom: 10%;
        width: 100%;
    }
}

@media screen and (min-width: $breackpoint-tablet-height) and (min-height: $breackpoint-tablet-width){
    .bg-html,
    .bg-body,
    .quote,
    .decoration {
        font-size: 2.5vw;
    }

    .bg-code-top {
        top: 40%;
    }

    .bg-code-bot {
        bottom: 40%;
    }

    .quote {
        top: 5%;
        width: 100%;
    }

    .decoration {
        bottom: 5%;
        width: 100%;
    }
}

@media screen and (min-width: $breackpoint-tablet-width) and (min-height: $breackpoint-tablet-height){
    .bg-html,
    .bg-body,
    .quote,
    .decoration {
        font-size: 4vw;
    }

    .quote {
        top: 5%;
        width: 100%;
    }

    .decoration {
        bottom: 10%;
        width: 100%;
    }
}

@media screen and (min-width: $breackpoint-desktop-width) {
    .bg-html,
    .bg-body,
    .quote,
    .decoration {
        font-size: 1.5vw;
    }

    .quote {
        top: 5%;
        width: 100%;
    }

    .decoration {
        bottom: 10%;
        width: 100%;
    }
}