/********************************/
/****** VARIABLES GLOBALES ******/
/********************************/

$breackpoint-smartphone-height: 480px;
$breackpoint-smartphone-width: 320px;
$breackpoint-tablet-height: 1024px;
$breackpoint-tablet-width: 760px;
$breackpoint-desktop-height: 1680px;
$breackpoint-desktop-width: 1050px;

$navbar-bg: #3A1078;
$primary-color: #0A2647;
$secondary-color: #144272;
$third-color: #205295;
$fourth-color: #2C74B3;
$text-color: #e2e7f1;
$second-text-color: #F0EB8D;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    background-color: $secondary-color;
}

@font-face {
    font-family: 'techno';
    src: url(./assets/TechnoRaceItalic-eZRWe.otf);
}